#logo {
	
	border-radius: 15px;
	width: 350px;
	height: 400px;
	position: absolute;
	left: 15%;
	top: 10%;
	
}

.sign{
	left: 23%;
	text-align: center;
	font-size: 25px;
	font-family: cursive;
}

#username,#password,#email,#phone_num{
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 15px;
}

#submit{
	margin-top: 10px;
	margin-left: 22%;
	border-radius: 10px;
}

#content{
	position: absolute;
	left: 22%;
}

#username,#password,#email,#phone_num,#submit{
	background: transparent;
	border-width: 1px;
	padding: 0px 10px;
}

body{
	background: url(../img/bkg3.jpg) repeat;
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center 0; 
}